body {
  background-color: #328da8;
}

.words {
  float: top;
}

.int {
	width: 800px;
	height: 400px;
}

		  #draggable {
		  width: 800px; height: 450px; padding: 0.2em; 
		  }
			.ui-widget-content {
			font-size: 30px;
			background-color: #b3d9ff;
		}